.pagination .ant-pagination-item a {
  color: var(--color-text);
}
.pagination .ant-pagination-item-active a {
  color: #1677ff;
}
.pagination .ant-pagination-next button,
.pagination .ant-pagination-prev button {
  color: var(--color-text);
}
.pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis,
.pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis {
  color: var(--color-text);
}
