nav {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;

  padding: {
    right: 30vw;
    left: 30vw;
  }

  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--color-navbar-bg);
  z-index: 100;
  user-select: none;

  a {
    width: 7rem;
    height: 6rem;
    display: block;
    cursor: pointer;
    padding-top: 2px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 6rem;
    color: var(--color-text);

    padding: {
      right: 5px;
      left: 5px;
    }

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid var(--color-primary);
      color: var(--color-primary);
    }
  }

  .active {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
  }
}

@media (max-width: 1500px) {
  nav {
    min-width: 1492px;
  }
}

@media (max-width: 1336px) {
  nav {
    padding: 0 5vw;
  }
}
