header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;

  padding: {
    right: 10vw;
    left: 10vw;
  }

  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--color-navbar-bg);
  z-index: 100;
  -webkit-app-region: drag;
}

@media (max-width: 1336px) {
  header {
    padding: 0 5vw;
  }
}

@supports (-moz-appearance: none) {
  header {
    background-color: var(--color-body-bg);
  }
}

.navigation_logo {
  flex: 1;
  display: flex;
  align-items: center;

  img {
    height: 50px;
    width: 50px;
    display: inline-block;
    cursor: pointer;
  }

  p {
    color: var(--color-text);
    font-size: 18px;
    text-indent: 10px;
    user-select: none;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
  }
}

@media (max-width: 970px) {
  .navigation-logo {
    flex: unset;
  }
}

.naviagtion_links {
  flex: 2;
  display: flex;
  justify-content: center;
  user-select: none;

  a {
    -webkit-app-region: no-drag;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 6px;
    padding: 6px 10px;
    color: var(--color-text);
    transition: 0.2s;
    -webkit-user-drag: none;

    margin: {
      left: 12px;
      right: 12px;
    }

    &:hover {
      background: var(--color-secondary-bg-for-transparent);
    }

    &:active {
      transform: scale(0.92);
      transition: 0.2s;
    }
  }

  a.active {
    background: var(--color-primary-bg);
    color: var(--color-primary);
  }
}

.right_part {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .search_box {
    display: flex;
    justify-content: flex-end;

    .container {
      display: flex;
      align-items: center;
      height: 32px;
      background: var(--color-secondary-bg-for-transparent);
      border-radius: 8px;
      width: 200px;

      .searchIcon {
        height: 18px;
        width: 18px;
        font-size: 18px;
        color: var(--color-text);
        opacity: 0.28;

        margin: {
          left: 8px;
          right: 4px;
        }
      }

      input {
        font-size: 16px;
        border: none;
        background: transparent;
        width: 96%;
        font-weight: 600px;
        margin-left: 5px;
        margin-top: -1px;
        color: var(--color-text);
      }
    }

    .active {
      background: var(--color-secondary-bg-for-transparent);

      input,
      .searchIcon {
        opacity: 1;
        color: var(--color-primary);
      }
    }
  }

  .avator {
    user-select: none;
    height: 30px;
    margin-left: 12px;
    vertical-align: -7px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
  }

  .translate {
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
  }
}
