.toplist_container {
	//height: 60rem;
	// background: url(https://y.qq.com/ryqq/static/media/bg_detail.bb32b2d1.jpg?max_age=2592000) 50% 0 repeat-x;

	.head {
		width: 100%;
		height: 7rem;
		text-align: center;
		position: relative;
		margin-bottom: 10px;
		padding-top: 1rem;
		h2 {
			color: var(--color-text);
			line-height: 7rem;
			font-size: 2.5rem;
			font-weight: 600;
		}

		.showAll {
			position: absolute;
			top: 50px;
			right: 20px;
			font-size: 16px;
			color: var(--color-text);

			a {
				text-decoration: none;

				&:hover {
					color: var(--color-primary);
				}
			}
		}
	}
}
// @media (max-width: 1536px) {
// 	.toplist_container {
// 		//height: 55rem;
// 	}
// }
@media (max-width: 1500px) {
	.toplist_container {
		min-width: 1492px;
	}
}
